* {
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #333;
}
header{
    background-color: #f7d600;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding: 5px;
    margin: 0px;
    width: 100%;
    gap: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
}
header * {
    flex-shrink: 0;
}
.divisor,.redes, .titulo, .redesF {
    flex: 1 1 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.divisor{
    justify-content: flex-start;
}
.titulo{
    text-align: center;
}
.titulo h1 {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    color: #333;
}

.redes{
    justify-content: flex-end;
    gap: 5%;
}
.Logo{
    width: 100%;
    max-width: 90px;
    height: auto;
    padding-left: 5px;
    padding-bottom: 10px;
}
.icono {
    width: 100%;
    max-width: 50px;
    height: auto;
}
header {
    align-items: center;
}
header > * {
    flex-grow: 1;
    justify-content: center;
}
@media (max-width: 600px) {
    .divisor, .titulo, .redes, .redesF {
        justify-content: center;
    }
    .titulo h1 {
        font-size: 1.8rem;
    }
    footer{
        justify-content: center;
        flex-direction: column;
    }
}
footer{
    background-color: #f7d600;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding: 5px;
    margin: 0px;
    width: 100%;
    gap: 10px;
}
.redesF {
    justify-content: center;
    gap: 5%;
    max-height: 60px;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s ease;
    }

.whatsapp:hover {
    transform: scale(1.1);
}

.whatsapp img {
    width: 40px;
    height: 40px;
    display: block;
}
.BotonModoOscuro {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #222;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1500;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.BotonModoOscuro img {
    width: 30px;
    height: 30px;
}

.BotonModoOscuro:hover {
    transform: scale(1.1);
    background-color: #444;
}
.ModoOscuro{
    background-color: #464646;
    color: #ffffffff;
}
.ModoOscuro h1 {
    color: #f7d600;
}
.ModoOscuro header, .ModoOscuro footer{
    background-color: #0B0B0B;
}
.ModoOscuro body{
    background-color: #464646;
}
.BTNinfo {
    margin-top: 10px;
    background-color: #333;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
.ModoOscuro .BTNinfo{
    background-color: #f7d600;
    color: #0B0B0B;
}
main{
    background-color: #d3d3d3;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.bienvenida {
    display: flex;
    
    margin: 40px;
    padding: 20px 25px;
    background-color: #ffffff;
    border-left: 7px solid #f7d600;
    border-radius: 10px;
    font-size: 22px;
    line-height: 1.7;
    color: #000000;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    }
@media (max-width: 600px) {
    .bienvenida {
        font-size: 18px;
        padding: 15px 18px;
        margin: 25px 10px;
    }
}

.carrusel {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0%) contrast(100%);
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.recetario {
    margin-top: 25px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.subtitulo{
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    color: #333;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 5px solid #f7d600;
    border-radius: 5px;
    margin-bottom: 10px;

}

.recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.card {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85); 
    margin-top: 20px;
}   
.ModoOscuro{
    color: #353535;
    background-color: #464646;
}
.ModoOscuro .card{
    background-color: #313131;
    color: #ffffff;
    box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.5),
    0 0 12px rgba(247, 214, 0, 0.18); 
}
.ModoOscuro main{
    background-color: #464646;
}
.ModoOscuro .bienvenida, .ModoOscuro .carrusel, .ModoOscuro .recetario{
    background-color: #272727;
    color: #ffffff;
    box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.5),
    0 0 12px rgba(247, 214, 0, 0.18); 
}
.ModoOscuro h2{
    color: #f7d600;
}
.ModoOscuro .carousel-control-prev-icon, .ModoOscuro .carousel-control-next-icon{
    filter: invert(100%) brightness(0%) contrast(0%);
}
.btn, .btn-primary {
    background-color: #f7d600;
    color: #000000;
    border-color: #f7d600;
}